body {
    background-color: #F8EDE3;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #545454;
    line-height: 1.42857143;
    text-align: center;
    margin: 0;
}

a {
    text-decoration: none;
    color: #DFD3C3;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    margin: 10px 20px;
}

a:hover {
    color: #FFF8EA;
}

img {
    margin: 0;
}

hr {
    border: dotted #9E7676 6px;
    border-bottom: none;
    margin: 100px auto;
    width: 5%;
}

::selection {
    background: #F8EDE3;
    color: #85586F;
    text-shadow: none;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    color: #594545;
    line-height: 1;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5rem;
    font-weight: normal;
    color: #594545;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    color: #815B5B;
}

p {
    line-height: 2;
}

.top-container {
    position: relative;
    padding-top: 100px;
    padding-bottom: 200px;
}

.top-cloud {
    position: absolute;
    right: 600px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 600px;
    bottom: 600px;
}

.middle-container {
    margin: 100px 0;
}

.profile {
    width: 50%;
    margin: 50px auto;
}

.skill-row {
    width: 30%;
    margin: 100px auto 100px auto;
    text-align: justify;
}

.strategic-planning {
    width: 15%;
    float: left;
    margin-right: 30px;
}

.programming {
    width: 15%;
    float: right;
    margin-left: 30px;
}

.leadership {
    width: 15%;
    float: left;
    margin-right: 30px;
}

.communication {
    width: 15%;
    float: right;
    margin-left: 30px;
}

.creativity {
    width: 15%;
    float: left;
    margin-right: 30px;
}

.contact-message {
    line-height: 1.5;
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #9E7676;
    background-image: -webkit-linear-gradient(top, #9E7676, #815B5B);
    background-image: -moz-linear-gradient(top, #9E7676, #815B5B);
    background-image: -ms-linear-gradient(top, #9E7676, #815B5B);
    background-image: -o-linear-gradient(top, #9E7676, #815B5B);
    background-image: linear-gradient(to bottom, #9E7676, #815B5B);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Caveat', cursive;
    color: #FFF8EA;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #DFD3C3;
    background-image: -webkit-linear-gradient(top, #DFD3C3, #D0B8A8);
    background-image: -moz-linear-gradient(top, #DFD3C3, #D0B8A8);
    background-image: -ms-linear-gradient(top, #DFD3C3, #D0B8A8);
    background-image: -o-linear-gradient(top, #DFD3C3, #D0B8A8);
    background-image: linear-gradient(to bottom, #DFD3C3, #D0B8A8);
    text-decoration: none;
}

.bottom-container {
    background-color: #815B5B;
    color: #FFF8EA;
    padding: 50px 0 20px;
}

.copyright {
    font-size: 0.75rem;
    padding: 20px 0;
}